/* You can add global styles to this file, and also import other style files */
li.list-group-item {
  cursor: pointer;
 }
 ul.list-group li.active {
  color: #000;
  font-weight: bold;
  font-style: italic;
 }
 ul.list-group.list-group-striped li:nth-of-type(odd) {
  background: #ffffff;
 }
 ul.list-group.list-group-striped li:nth-of-type(even) {
  background: #f2f2f2;
 }
 ul.list-group.list-group-hover li:hover {
  background: #e6ecff;
 }
 .greenIcon {
  color: #629903;
  font-size: 14px;
 }
 .smallText {
  font-size: 11px;
 }
