<header class="container-fluid">
  <div class="p-2 bg-dark">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

      &nbsp;<img src="../assets/imagenes/logoAngular.png" alt="logo" class="px-4" />

      <ul class="nav col-12 col-lg-auto me-lg-auto justify-content-center mb-md-0">
        <li><a class="nav-link px-2 link-secondary" [routerLink]="['/dash/board/root']"
            routerLinkActive="link-light">Inicio</a>
        </li>
        <li><a class="nav-link px-2 link-secondary" [routerLink]="['/dash/city/managecity']"
            routerLinkActive="link-light">Ciudad</a>
        </li>
        <li><a class="nav-link px-2 link-secondary" [routerLink]="['/dash/team/managecity']"
            routerLinkActive="link-light">Equipo</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle px-2 link-secondary" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Jugador
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" [routerLink]="['/dash/player/managecity']"
                routerLinkActive="active">Administrar</a></li>
            <li><a class="dropdown-item" [routerLink]="['/dash/player/create']" routerLinkActive="active">Crear</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" [routerLink]="['/dash/player/team']" routerLinkActive="active">Equipo</a></li>

          </ul>
        </li>
      </ul>

      <div class="dropdown text-end">
        <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownUser1"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img [src]="'data:image/png;base64,'+base64" onerror="this.src='../../assets/imagenes/noDisponible.png'"
            class="rounded-circle" width="32" height="32" />
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" [routerLink]="['/dash/user/profile']" >Editar</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" (click)="cerrarSesion()">Salir</a></li>
        </ul>
      </div>

    </div>
  </div>
</header>
