<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="../assets/imagenes/logoAngular.png" alt="logo" class="px-4" />

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item ml-5">
          <a class="nav-link" [routerLink]="['/welcome/home']" routerLinkActive="active">Inicio</a>
        </li>
        <li class="nav-item ml-5">
          <a class="nav-link" [routerLink]="['/welcome/developer']" routerLinkActive="active">Equipo de desarrollo</a>
        </li>
      </ul>
      <a class="navbar-brand navbar-text" [routerLink]="['/welcome/login']">Iniciar sesión</a>
    </div>

  </nav>
</div>

