<div class="mt-5 d-flex justify-content-center">
  <div class="col-7">
    <div class="p-5 text-white bg-dark rounded-3">
      <h1 class="fw-bold border-bottom">Taller20 consumiendo servicios</h1>
      <p class="fs-5">
        <i class="far fa-hand-pointer chequeo"></i>
        en la parte superior se encuentra la barra de navegación
      </p>

      <ul>
        <li><i class="fa fa-car"></i>&nbsp;Inicio</li>
        <li><i class="fa fa-city"></i>&nbsp;Ciudad</li>
        <li><i class="fa fa-id-card"></i>&nbsp;Equipo</li>
        <li><i class="fa fa-futbol"></i> &nbsp;Menú Jugador
          <ul>
            <li>Administrar</li>
            <li>Crear</li>
            <li>Equipo</li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</div>
