<app-cabecera-land></app-cabecera-land>

<div class="mt-5 d-flex justify-content-center">
  <div class="col-7">
    <div class="p-5 text-white bg-dark rounded-3">
      <h1 class="display-5 fw-bold">FullStack - Taller20</h1>

      <p>
        <i class="fa fa-check chequeo"></i>&nbsp;Consumiendo servicios: Frontend - Backend
        <br />
        <i class="fa fa-check chequeo"></i>&nbsp;Facultad Ingenería de Sistemas
        <br />
        <i class="fa fa-check chequeo"></i>&nbsp;Universidad Santo Tomás
      </p>

    </div>
  </div>
</div>
