<div class="container-fluid">
    <header>
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">Sobre nosotros</h4>
                        <p class="text-muted">
                            investiga la reparación de daños en vehículos, consecuencia de accidentes. Estudia turismos, vehículos industriales y agrícolas y motocicletas para personal de talleres, compañías de seguros, fabricantes de vehículos, peritos y gabinetes, y alumnos. </p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white">Contacto</h4>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-white">Seguir en Twitter </a></li>
                            <li><a href="#" class="text-white"> Me gusta en Facebook</a></li>
                            <li><a href="#" class="text-white">Correo electrónico</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <img src="../assets/imagenes/Logo.png" alt="no hay foto" />
                    <strong>Carros</strong>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            </div>
        </div>
    </header>
</div>