<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-8">
            <div class="album py-5 bg-light manito">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 sty">
                        <div class="card shadow-sm" *ngFor="let miCarro of arregloCarro; let indice = index" (click)="seleccionarCarro(miCarro)" [class.table-primery]="miCarro == carroSeleccionado">
                            <img [src]="miCarro.fotoBase64" alt="ayyyyyy" onerror="this.src='../assets/imagenes/image-not-found.png'" style="width: auto; height: 190px" />
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Codigo: {{ indice + 1 }}</li>
                                    <li class="list-group-item">Placa: {{ miCarro.placa }}</li>
                                    <li class="list-group-item">Marca: {{ miCarro.marca }}</li>
                                    <li class="list-group-item">Modelo: {{ miCarro.modelo }}</li>
                                </ul>
                                <div class="btn-group">
                                    <tr>
                                        &nbsp; &nbsp;
                                        <i class="far fa-trash-alt papeleraRoja" (click)="btnAbrirModal(ventanaEliminar, miCarro)"></i> &nbsp;
                                        <I class="fas fa-recycle"></I>
                                    </tr>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 bg-light">
            <form>
                <div class="mb-3 row">
                    <label class="col-sm-4 text-success">Placa</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control-sm" id="placa" name="placa" [(ngModel)]="carroSeleccionado.placa" />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-4 text-success">Marca</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control-sm" id="marca" name="marca" [(ngModel)]="carroSeleccionado.marca" />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-4 text-success">Modelo</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control-sm" id="modelo" name="modelo" [(ngModel)]="carroSeleccionado.modelo" />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-4 text-success">Foto</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input type="text" id="foto" name="foto" class="form-control form-control-sm" [(ngModel)]="carroSeleccionado.nombreFoto" />
                            <button class="btn btn-primary" (click)="cajaOculta.click()">
              <span class="input-group">+</span>
              <input
                type="file"
                #cajaOculta
                style="display: none"
                (change)="seleccionarFoto($event)"
              />
            </button>
                        </div>
                    </div>
                </div>
                <div class="row mt-1 g-3">
                    <div class="col-3"></div>
                    <div class="col-8">
                        <img [src]="carroSeleccionado.fotoBase64" alt="Se perdio la foto" onerror="this.src='../assets/imagenes/image-not-found.png'" style="width: 300px; height: auto" />
                    </div>
                </div>
                <div *ngIf="
          carroSeleccionado.codigo == 0;
          then crearCarro;
          else acualizarCarro
        "></div>
                <ng-template #crearCarro>
                    <div class="row g-3 mt-1 align-items-center">
                        <div class="col-3"></div>
                        <div class="col-8">
                            <div class="d-grid gap-1 col-12">
                                <button class="bt btn-primary btn-sm" (click)="agregarCarro()">
                Crear Carro
              </button>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template #acualizarCarro>
                    <div class="row g-3 mt-1 align-items-center">
                        <div class="col-3"></div>
                        <div class="col-8">
                            <div class="d-grid gap-1 col-12">
                                <button class="bt btn-primary btn-sm" (click)="resetearCarro()">
                Actualizar Carro
              </button>
                                <button class="bt btn-primary btn-sm" (click)="resetearCarro()">
                Cancelar Carro
              </button>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template #ventanaEliminar>
                    <div class="modal-header bg-dark text-white" style="padding: 4px">
                        <h5 class="modal-title">
                            {{ modalTitulo }}
                        </h5>
                        <button type="button" class="btn btn-sm text-white" (click)="modalRef.hide()">
            <span>&times;</span>
          </button>
                    </div>
                    <div class="modal-body">
                        <p>
                            {{ modalCuerpo }} <br />
                            <strong>{{ modalContenido }}</strong>
                        </p>
                    </div>
                    <div class="modal-footer" style="padding: 4px">
                        <button type="button" class="btn btn-danger btn-sm" (click)="btnBorrarCarro()">
            Eliminar
          </button>
                        <button type="button" class="btn btn-outline-danger btn-sm" (click)="btnCancelar()">
            Cancelar
          </button>
                    </div>
                </ng-template>
            </form>
        </div>
    </div>
    <div></div>
</div>