<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      ></button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <img src="../assets/imagenes/logoAngular.png">
        <span class="navbar-brand" href="a"> FullStack</span>
        <div class="navbar-text ms-auto">{{titulo}} </div>
      </div>
    </div>
  </nav>
</div>
